extends layout.pug 

block content 
	#kimwater(width=500)

	span.express

	button(type='submit') 전송

	if variable
		div 참입니다.
	else 
		div 거짓입니다.

	for i in ['사과', '배', '오렌지']
		div= i

	p 
		| 안녕하세요.
		| 여러 줄을 입력합니다.
		br
		| 태그도 중간에 넣을 수 있어요.

block script
	script.
		var message = 'bug';
		alert(message);




<!-- layout 적용 전
// 원래 html 형태
// <!DOCTYPE html> 
// <html>
// <head>
// <title>익스프레스</title>
// <link rel="stylesheet" href="/stylesheet/style.css">
// </head>
// </html>

// pug 문법 사용
doctype html 
html
	head
		-const variable = true
		-const title = '익스프레스'
		-const title2 = '안녕'
		title= title + ' ' + title2
		link (rel='stylesheet' href='/stylesheet/style.css')
		style.
			p {
				color: red;
			}

	body
		include header

		#kimwater(width=500)   // div #
		// div(id="kimwater" width=500)
		// div#kimwater(width=500)
		// <div id="kimwater" width="500"></div> 로 렌더링

		span.express   // class .
		// span(class='express')
		// <span class="express"></span> 로 렌더링

		button(type='submit') 전송
		// <button type='submit'>전송</type> 로 렌더링

		if variable
			div 참입니다.
		else 
			div 거짓입니다.

		for i in ['사과', '배', '오렌지']
			div= i

		p 
			| 안녕하세요.
			| 여러 줄을 입력합니다.
			br
			| 태그도 중간에 넣을 수 있어요.
		// <p>안녕하세요. 여러 줄을 입력합니다. <br /> 태그도 중간에 넣을 수 있어요.</p> 로 렌더링

		include footer

		script.
			var message = 'bug';
			alert(message);


// app.js 파일에서 변수 선언 가능
// res.render('test', {
// 	title: '익스프레스',
// 	title2: '안녕',
// });
-->